<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.Authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>controller.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>controller.ServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceManagement</servlet-name>
        <servlet-class>controller.ServiceManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.Authentication.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.Feedback.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordForgotServlet</servlet-name>
        <servlet-class>controller.Authentication.PasswordForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>controller.Authentication.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.Authentication.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentManagementServlet</servlet-name>
        <servlet-class>controller.AppointmentManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PickTimeServlet</servlet-name>
        <servlet-class>controller.PickTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyRegistrationOtpServlet</servlet-name>
        <servlet-class>controller.Authentication.VerifyRegistrationOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectStaffServlet</servlet-name>
        <servlet-class>controller.SelectStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>controller.SearchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.Authentication.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManagementServlet</servlet-name>
        <servlet-class>controller.Feedback.FeedbackManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagementServlet</servlet-name>
        <servlet-class>controller.AccountManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>controller.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>controller.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.Booking.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfileServlet</servlet-name>
        <servlet-class>controller.CustomerProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.Authentication.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleErrorServlet</servlet-name>
        <servlet-class>controller.Authentication.RoleErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProfileImageServlet</servlet-name>
        <servlet-class>controller.UploadProfileImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfileImageServlet</servlet-name>
        <servlet-class>controller.DeleteProfileImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCallbackServlet</servlet-name>
        <servlet-class>controller.PaymentCallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManagementServlet</servlet-name>
        <servlet-class>controller.BlogManagement.BlogManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogManagement.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAvailableTimes</servlet-name>
        <servlet-class>controller.Booking.GetAvailableTimes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentSuccessServlet</servlet-name>
        <servlet-class>controller.PaymentSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentHistoryServlet</servlet-name>
        <servlet-class>controller.PaymentHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>controller.Product.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>controller.BlogManagement.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogServlet</servlet-name>
        <servlet-class>controller.BlogManagement.AddBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancialReportServlet</servlet-name>
        <servlet-class>controller.FinancialReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSurveyServlet</servlet-name>
        <servlet-class>controller.SaveSurveyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.Booking.GetReferral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testRemind</servlet-name>
        <servlet-class>controller.testRemind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerClassificationServlet</servlet-name>
        <servlet-class>controller.CustomerClassificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentStaffServlet</servlet-name>
        <servlet-class>controller.Appointment_Staff.AppointmentManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomManagement</servlet-name>
        <servlet-class>controller.Room.RoomManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientManagement</servlet-name>
        <servlet-class>controller.ClientManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.Authentication.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TherapistManagement</servlet-name>
        <servlet-class>controller.TherapistManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServiceServlet</servlet-name>
        <servlet-class>controller.StaffServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <servlet-class>controller.StaffDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffProfileServlet</servlet-name>
        <servlet-class>controller.StaffProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>controller.BillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceManagement</servlet-name>
        <url-pattern>/servicemanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordForgotServlet</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/verifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentManagementServlet</servlet-name>
        <url-pattern>/appointment-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PickTimeServlet</servlet-name>
        <url-pattern>/pick-time</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyRegistrationOtpServlet</servlet-name>
        <url-pattern>/VerifyRegistrationOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectStaffServlet</servlet-name>
        <url-pattern>/appointment/select-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/searchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackManagementServlet</servlet-name>
        <url-pattern>/feedback-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagementServlet</servlet-name>
        <url-pattern>/accountManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfileServlet</servlet-name>
        <url-pattern>/customerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleErrorServlet</servlet-name>
        <url-pattern>/roleError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProfileImageServlet</servlet-name>
        <url-pattern>/uploadProfileImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileImageServlet</servlet-name>
        <url-pattern>/deleteProfileImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCallbackServlet</servlet-name>
        <url-pattern>/payment-callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManagementServlet</servlet-name>
        <url-pattern>/blogManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blogDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAvailableTimes</servlet-name>
        <url-pattern>/getAvailableTimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentSuccessServlet</servlet-name>
        <url-pattern>/payment-success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentHistoryServlet</servlet-name>
        <url-pattern>/payment-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/editBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogServlet</servlet-name>
        <url-pattern>/addBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancialReportServlet</servlet-name>
        <url-pattern>/financial-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSurveyServlet</servlet-name>
        <url-pattern>/SaveSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/getReferral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testRemind</servlet-name>
        <url-pattern>/testRemind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerClassificationServlet</servlet-name>
        <url-pattern>/customerClassification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentStaffServlet</servlet-name>
        <url-pattern>/appointment-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomManagement</servlet-name>
        <url-pattern>/room-management</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientManagement</servlet-name>
        <url-pattern>/clientManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TherapistManagement</servlet-name>
        <url-pattern>/therapist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServiceServlet</servlet-name>
        <url-pattern>/staff-services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <url-pattern>/staffDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffProfileServlet</servlet-name>
        <url-pattern>/staffProfile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/staff/bill/*</url-pattern>
        <url-pattern>/staff/bills</url-pattern>
        <url-pattern>/staff/createBill</url-pattern>
        <url-pattern>/staff/billHistory</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
