<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>controller.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>controller.ServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceManagement</servlet-name>
        <servlet-class>controller.ServiceManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordForgotServlet</servlet-name>
        <servlet-class>controller.PasswordForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>controller.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentManagementServlet</servlet-name>
        <servlet-class>controller.AppointmentManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PickTimeServlet</servlet-name>
        <servlet-class>controller.PickTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyRegistrationOtpServlet</servlet-name>
        <servlet-class>controller.VerifyRegistrationOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectStaffServlet</servlet-name>
        <servlet-class>controller.SelectStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>controller.SearchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManagementServlet</servlet-name>
        <servlet-class>controller.FeedbackManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagementServlet</servlet-name>
        <servlet-class>controller.AccountManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>controller.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceManagement</servlet-name>
        <url-pattern>/servicemanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordForgotServlet</servlet-name>
        <url-pattern>/PasswordForgotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/VerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentManagementServlet</servlet-name>
        <url-pattern>/appointment-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PickTimeServlet</servlet-name>
        <url-pattern>/pick-time</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyRegistrationOtpServlet</servlet-name>
        <url-pattern>/VerifyRegistrationOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/appointment/select-service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectStaffServlet</servlet-name>
        <url-pattern>/appointment/select-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/searchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackManagementServlet</servlet-name>
        <url-pattern>/feedback-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagementServlet</servlet-name>
        <url-pattern>/accountManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/UserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
